

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}


.navbar-nav>li {
    margin-left:  40px;
    margin-right: 90px;
}

.loginButton {
    height: 40;
    width: 40;
}


.tabs-below>.nav-tabs,
.tabs-right>.nav-tabs,
.tabs-left>.nav-tabs {
    border-bottom: 0;
}


.tab-content>.active,
.pill-content>.active {
    display: block;
}


.tabs-left>.nav-tabs>li,
.tabs-right>.nav-tabs>li {
    float: none;
	
}

.tabs-left>.nav-tabs>li>a,
.tabs-right>.nav-tabs>li>a {
    min-width: 90px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
	
}


.img-wrapper {
    position: relative;
    width: 100%;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 225;
    left: 95%;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 33%;
}


.dests {
    max-height: 300px;
    width: 100%;
    overflow-y: scroll;
}

.destTabPane {
    margin: 30px auto auto auto;
}

.imgNew {
    height: 200px;
    width: 100%;
}
